.container {
  display: flex;
  width: 100%;
  height: auto;
  position: absolute;
  background-color: #222222;
  align-items: flex-start;
  justify-content: flex-end;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
}

.img {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-flow: column nowrap;
  background-color: #36454F;
  margin-left: 20px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  z-index: 1;
}

.contentone {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  flex-flow: column nowrap;
  background-color: #36454F;
  font-size: 20px;
  box-shadow: -20px 16px 13px -1px rgba(54,69,79,0.55);
  border: 1px solid;
  padding: 10px;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 10px;
  width: 30%;
  font-family: 'Khand', sans-serif;
}

.linkbox {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  flex-flow: column nowrap;
  background-color: #36454F;
  font-size: 20px;
  border: 1px solid;
  padding: 10px;
  width: 50px;
}

.contenttwo {
  display: inline-flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  background-color: #36454F;
  font-size: 20px;
  box-shadow: 20px 16px 13px -1px rgba(54,69,79,0.55);
  border: 1px solid;
  padding: 10px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  width: 60%;
  flex-grow: 1;
  font-family: 'Khand', sans-serif;
}

h1 {
  text-align: center;
    padding: 0;
  background-color: #222222;
  color: white;
  font-family: 'Reenie Beanie', cursive;
  font-size: 50px;
}

img {
  width: 100%;
  height: auto;
  background-color: #2F323A;
}

html {
  margin: 0;
  padding: 0;
  background-color: #222222;
}

a {
  padding: 0;
  margin: 0;
  display: inline;
}

body {
  margin: 0px;
}

.topnav {
background-color: #36454F;
overflow: hidden;
text-align: center;
border-radius: 2px;
}

.topnav a {
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
position: relative;
z-index: 2;
display: inline-block;
padding-bottom: 0;
padding-top: 0;
margin: 0;
}

.topnav a:hover {
background-color: #ddd;
color: black;
}

.topnav a.active {
background-color: #black;
color: white;
margin-bottom: 0;
}
